[Unit]
Description=Prowlarr - Indexer manager
After=network-online.target

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
AutoUpdate=registry
Pod=arr-stack.pod
Volume=/srv/config/prowlarr:/config:Z
Environment=PUID=0
Environment=PGID=0
Environment=TZ=Etc/UTC

HealthCmd=curl --fail --silent --show-error --retry 3 --max-time 5 http://localhost:9696
HealthInterval=15s
HealthTimeout=5s
HealthStartPeriod=10s
HealthRetries=3
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
