branding:
  title: Hoth Dashboard

pages:
  - name: Home
    columns:
      - size: small
        widgets:
          - type: monitor
            title: System
            cache: 1m
            sites:
              - title: Cockpit
                url: http://__HOSTNAME__:9090
                check-url: http://host.containers.internal:9090
                allow-insecure: true
                icon: si:cockpit

      - size: full
        widgets: []