[Unit]
Description=Glance - Self-hosted dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/glanceapp/glance:latest
AutoUpdate=registry
Volume=/srv/config/glance:/app/config:Z
Environment=TZ=__TIMEZONE__
Pod=glance.pod

HealthCmd=wget -O - http://localhost:8080/ || exit 1
HealthInterval=5m
HealthRetries=3
HealthStartPeriod=2m
HealthTimeout=30s

HealthStartupCmd=wget -O - http://localhost:8080/ || exit 1
HealthStartupInterval=5s
HealthStartupRetries=60
HealthStartupTimeout=5s

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target