[Unit]
Description=__MOUNT_DESCRIPTION__

[Mount]
What=/dev/disk/by-uuid/__UUID__
Where=__MOUNT_POINT__
Type=__FS_TYPE__
Options=__OPTIONS__

[Install]
WantedBy=local-fs.target