[Unit]
Description=qBittorrent - Torrent client
After=network-online.target

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
Pod=arr-stack.pod
Volume=/srv/config/qbittorrent:/config:Z
Volume=/srv/data/downloads:/downloads:Z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=WEBUI_PORT=8080

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
