[Unit]
Description=Radarr - Movie manager
After=network-online.target

[Container]
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry
Pod=arr-stack.pod
Volume=/var/arr-stack/radarr:/config:Z
Volume=/var/arr-stack/downloads:/downloads:Z
Volume=/var/arr-stack/movies:/movies:Z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
