[Unit]
Description=Sonarr - TV series manager
After=network-online.target

[Container]
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry
Pod=arr-stack.pod
Volume=/srv/config/sonarr:/config:Z
Volume=/srv/data/downloads:/downloads:Z
Volume=/srv/data/tv:/tv:Z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
